/*Accessing example var(--blue) instead of rgb(30, 144, 255).
Might be a good idea to give the variables names such as "accent",
"darker shade" etc and pick colors on a more general basis.*/

:root {
  --blue: rgb(13, 63, 126);
  --white: rgb(248, 248, 255);
  --white_text: rgb(255,255,255);
  --orange_text_hover: rgb(226, 136, 17);
  --purple: rgb(123, 8, 230);
  --purple_border: rgb(104, 12, 190);
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  min-width: 100%;
}

.news {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: large;
  color: ghostwhite;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    180deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(85, 149, 226, 1) 100%
  );

  border: 0.05% solid var(--white);
  max-width: 45%;
  padding: 0.5%;
}

.newsh3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  float: inline-start;
  padding: 00.5%;
  padding-right: 3%;
  font-weight: lighter;
}

.menu-bar li {
  list-style-type: none;
  padding: 16px;
}

.menu-bar a {
  text-decoration: none;
  font-size: 24px;
  color: var(--white);
}

.menu-bar ul {
  padding: 0;
  display: flex;
}

.menu-bar a:hover {
  color: var(--orange_text_hover);
}

.menu-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--blue);
  justify-content: left;
}
body {
  width: 1100px;
  margin: auto;
}
.dropdown {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.featured {
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white_text);
  background-color: var(--blue);
}

.featDivImg {
  block-size: 350px;
}

.featDivComment {
  width: 150%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.featArticle {
  display: absolute;
  padding-left: 10px;
  padding-right: 10px;
}

.featTitle {
  border-bottom: solid;
  border-width: 1px;
  width: 100%;
  position: top;
}

.featDivInfo {
  width: 250%;
}
.featLink {
  text-decoration: none;
  color: var(--white_text);
}

.featured {
  margin: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
.cinema-button {
  height: 30px;
  width: 10px;
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid #000;
}
.cinema{
  grid-row: 3;
  grid-column: 2;
  display: inline-block;
   border: 1px solid #000;
  border-radius: 15px;
  border-top: 10px double #000;
  min-width: 100px;
  background-color: var(--white);
  padding: 2%;
  text-align: center;
}
.upcoming-showings-container{
  grid-row: 2;
  grid-column: 1;

  width: 100%;
  background-color: var(--blue);
  color: var(--white_text);
  padding: 5%;
}
.cinema-container{
grid-row: 2;
grid-column: 2;
}
.upcoming-showings-container li{
  list-style-type: decimal;
  text-align: left;
}
.upcoming-showings-container li:hover{
  color: var(--orange_text_hover);
}
.upcoming-showings-container h2{
  border-bottom: 1px solid ghostwhite;
  margin-right: -5%;
  padding-right: 5%;
}

.footer{
  border: 3px solid var(--purple_border);
  background-color: var(--purple);
  padding: 0.5%;
  text-align: center;
  color: var(--white_text);
}

.border{
  border: 3px solid var(--purple_border);
  padding: 0.5%;
  text-align: center;
}
.ticketbooking-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.dropdown2{
  grid-row: 1;
  grid-column: 2;
  display: inline-block;
  justify-content: center;
  padding: 0.5%;
}
.info-input{
  border: 3px solid var(--purple_border);
  padding: 1%;
  margin: 3%;
  margin-bottom: 1%;
  background: linear-gradient(
    180deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(85, 149, 226, 1) 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: large;
  color: ghostwhite;
}

.booking-button{
  background-color: rgb(92, 55, 194);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: large;
  color: ghostwhite;
  padding: 1%;
  margin-bottom: 1%;
  border: navy;
}

.booking-button:hover{
  color: rgb(12, 12, 41);
}
.menu-bar-button-selected{
  color: var(--orange_text_hover);
  
}