@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
/*Variables for colors and fonts. Accessing example var(--blue) instead of rgb(30, 144, 255).*/
:root {
  /*Colors:==================================================================================*/
  /* Legacy, better to use general colorname so whole site can be harmonised more intuitively.
  --blue: rgb(6, 43, 88);
  --white: rgb(248, 248, 255);
  --white_text: rgb(255, 255, 255);
  --hover-color: rgb(160, 160, 160);
   --footerBackground: rgb(6, 43, 88); */
  --lighter-shade: rgb(61, 59, 68);
  --shade: rgb(33, 32, 36);
  --darker-shade: rgb(14, 13, 13);
  --text: rgb(255, 255, 255);
  --hover: rgb(226, 136, 17);
  --accent: rgb(92, 55, 194);
  /*Fonts:===================================================================================*/
  --font-family: 'Oswald', sans-serif;
  --font-bread: 100% var(--font-family);
  --font-title-small: 120% var(--font-family);
  --font-title-medium: 160% var(--font-family);
  --font-title-large: 200% var(--font-family);
  --font-title-x-large: 500% var(--font-family);
  --font-button: bold 120% var(--font-family);
}
body {
  font: var(--font-bread);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--darker-shade);
}
.generalButton {
  margin: 5px;
  background-color: var(--accent);
  border-radius: 28px;
  border: 1px solid var(--accent);
  display: inline-block;
  cursor: pointer;
  color: var(--text);
  font: var(--font-button);
  letter-spacing: 1pt;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--darker-shade);
}
.generalButton:hover {
  background-color: var(--hover);
  border: 1px solid var(--hover);
}
.generalButton:active {
  position: relative;
  top: 1px;
}
main {
  width: 100%;
  height: 100%;
}
/* "Nyheter" and "Visas just nu" Elements */ 
.newsAndShowtimeElements {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
}

.news {
  color: var(--text);
  background-color: var(--shade);
  max-width: 45%;
  padding: 3%;
  margin: 3%;
}

.nowShowing {
  color: ghostwhite;
  background-color: rgb(33, 32, 36);
  max-width: 45%;
  padding: 5%;
  margin: 0.5%;
}

.nowShowingTitles > li {
  margin-bottom: 7%;
  border-bottom: solid;
  padding: 3%;
  border-width: 1px;
  width: 100%;
}

.nowShowingTitles a {
  text-decoration: none;
}

.nowShowingTitles a:hover {
  background-color: grey;
}

/* Header elements */
header {
  background-color: var(--lighter-shade);
  color: var(--text);
  position: sticky;
  top: 0;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  padding: 1.5vw;
}
.menu-bar a {
  text-decoration: none;
  font: var(--font-title-medium);
  color: var(--text);
  padding: 0 2vw;
}

.menu-bar a:hover {
  color: var(--hover);
}

/*Featured movies on front page*/
.featured {
  width: 100%;
  max-width: 1200px;
  display: flex;
  text-decoration: none;
  color: var(--text);
  background-color: var(--lighter-shade);
  padding: 1%;
  margin: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

.featDivImg {
  block-size: 350px;
}

.featDivComment {
  width: 150%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 1.5em;
}

.featArticle {
  padding-left: 10px;
  padding-right: 10px;
}

.featTitle {
  border-bottom: solid;
  border-width: 1px;
  width: 100%;
  position: top;
}

.featDivInfo {
  width: 250%;
}
.featLink {
  text-decoration: none;
  color: var(--text);
}

/*Seat-picker*/

.cinema-container {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
}
.cinema-container h2{
  font: var(--font-title-medium);
  color: var(--text);
  margin-bottom: 0px;
}
.cinema-button {
  height: 30px;
  width: 10px;
  background-color: var(--text);
  border-radius: 3px;
  cursor: pointer;
}
.cinema {
  padding: 2%;
  padding-top: 10%;
  border: 1px solid #000;
  border-radius: 15px;
  /*border-top: 10px double gold;*/
  background-color: var(--lighter-shade);
  width: max-content;
  min-width: 100px;
}

.cinema-screen-container{
perspective: 400px;
margin-bottom: 0;
margin-top: 0;
transform: translate(4px,30px);
justify-self: center;
}
.cinema-screen{
  background: linear-gradient(180deg, rgb(255, 255, 255) 24%, rgb(80, 77, 77) 100%);
  border-top: darkgray ridge;
  width: 100%;
  height: 100px;
  opacity: 90%;
  transform-style: preserve-3d;
  transform: rotateX(-65deg);

}
.seat-selectors{
  width: max-content;
  min-width: 100px;
}
/*Upcoming showings*/
.upcoming-showings-container {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
  background-color: var(--shade);
  color: var(--text);
  max-width: 500px;
  padding: 5%;
  padding-right: 0%;
}
.upcoming-showings-container li {
  list-style-type: none;
  text-align: left;
  font: var(--font-bread);
  line-height: 2em;
}
.upcoming-showings-container li:hover {
  color: var(--hover);
  cursor: pointer;
}
.upcoming-showings-container h2 {
  border-bottom: 1px solid var(--text);
  text-align: left;
  font: var(--font-title-medium);
}

.footer {
  background-color: var(--footerBackground);
  padding: 0.5%;
  text-align: center;
  border-top: 1px solid var(--text);
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: 2px;
  color: var(--text);
}

.border {
  /*border: 3px solid var(--purple_border);*/
  padding: 0.5%;
  text-align: center;
}
.ticketbooking-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.showing-selector-dropdowns{
  grid-row: 1;
  grid-column: 2;
}
.showing-selector-dropdowns select {
  border-radius: 4px;
}
.movie-picker-dropdown {
  grid-row: 1;
  grid-column: 2;
  justify-content: center;
  border-radius: 4px;
}
.showings-picker-dropdown {
  grid-row: 1;
  grid-column: 2;
  justify-content: center;
  border-radius: 4px;
}
.info-input {
  border: 3px solid var(--purple_border);
  padding: 1%;
  margin: 3%;
  margin-bottom: 1%;
  background-color: var(--shade);
  font: var(--font-title-small);
  color: var(--text);
}
.button-section>.generalButton {
  pointer-events: none;
  opacity: 0.3;
}

/*
.button-section .generalButton {
  background-color: var(--accent);
  font-family: 'Oswald', sans-serif;
  font-size: large;
  color: ghostwhite;
  padding: 1%;
  margin-bottom: 1%;
  border: navy;
}

.button-section .generalButton:hover {
  color: rgb(12, 12, 41);
}
*/
.get-booking {
  display: flex;
  justify-content: center;
}
.get-booking input {
  font: var(--font-bread);
  padding: 10px;
  border: 1px solid black;
}

.currentMovieTitleH1 {
  color: var(--text);
  font: var(--font-title-x-large);
  margin: auto;
  text-align: center;
}

img {
  width: 280px;
  height: 280px;
}

hr {
  position: relative;
}
.currentMovie1,
.currentMovie2,
.currentMovie3,
.currentMovie4,
.currentMovie5,
.currentMovie6 {
  color: white;
  display: flex;
  margin: 2% 10%;
}
.currentMovieTitleDiv {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}


.movies h2 {
  font: var(--font-title-large);
  letter-spacing: 3px;
}

.movies p {
  letter-spacing: 0.5px;
}
.movies h2:hover {
  text-decoration: underline;
}
p.title-p {
  font: var(--font-title-small);
  font-weight: lighter;
  align-self: flex-end;
  margin: 0%;
}

.currentMovieTitleDiv h2 {
  font: var(--font-title-large);
}

.info-input form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info-input input {
  grid-column: 2;
  width: max-content;
  margin: 1%;
}
.info-input label {
  grid-column: 1;
  justify-self: right;
  padding: 1%;
}

a.movie-link {
  text-decoration: none;
  color: var(--text);
  display: inline-block;
}

.currentMovieTitleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
