@import '/HomePage/css/homepage.css';
@import '/MoviePage/css/currentmovies.css';
@import '/BookingPage/css/newBookingMain.css';
@import '/myBookingsPage/css/mybookings.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
/*Variables for colors and fonts. Accessing example var(--blue) instead of rgb(30, 144, 255).*/
:root {
  /*Colors - feel free to add here, don't forget to connect specific elements to your new variable*/
  --lighter-shade: rgb(61, 59, 68);
  --shade: rgb(33, 32, 36);
  --darker-shade: rgb(14, 13, 13);
  --text: rgb(255, 255, 255);
  --accent: rgb(92, 55, 194);
  /*Specific element colors - best if these are are connected to any of the variables above.*/
  --body-color: var(--darker-shade);
  --generalButton-color: var(--accent);
  --news-color: var(--lighter-shade);
  --nowShowing-color: var(--lighter-shade);
  --header-color: var(--shade);
  --featured-color: var(--darker-shade);
  --upcoming-showings-container-color: var(--darker-shade);
  --footer-color: var(--darker-shade);
  --info-input-color: var(--darker-shade);
  /*Hover effect - pick which effects you want and comment out the others. Might need to update the .hoverable:hover class also.*/
  /*--hover: 0.7;*/
  --hover: rgb(226, 136, 17);
  --hover-background: rgb(226, 136, 17);
  /*Cinema visualisation*/
  --seat-free: rgb(107, 106, 106);
  --seat-reserved: rgba(114, 0, 21, 1);
  --seat-selected: rgb(218, 208, 223);
  --cinema: linear-gradient(
    to bottom,
    rgba(66, 59, 59, 1) 0%,
    rgba(27, 24, 24, 0.75) 100%
  );
  /*Fonts*/
  --font-family: 'Oswald', sans-serif;
  --font-bread: 100% var(--font-family);
  --font-title-small: 120% var(--font-family);
  --font-title-medium: 160% var(--font-family);
  --font-title-large: 160% var(--font-family);
  --font-title-x-large: 500% var(--font-family);
  --font-button: bold 120% var(--font-family);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: url(https://cdn.wallpapersafari.com/49/22/6PHJ94.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: var(--body-color); */
  font: var(--font-bread);
  margin: 0;
  color: white;
}

hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
}

.general-button {
  margin: 5px;
  background-color: rgb(6, 43, 88);
  border-radius: 28px;
  border: 0px solid rgb(6, 43, 88);
  display: inline-block;
  cursor: pointer;
  color: var(--text);
  font: var(--font-button);
  padding: 15px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--darker-shade);
}
button:hover {
  background-color: var(--hover);
  border: 0px;
}

.general-button:active {
  position: relative;
  top: 1px;
}

/* Header elements */
header {
  background-color: rgb(6, 43, 88);
  color: var(--text);
  position: sticky;
  z-index: 1;
  top: 0;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  padding: 2vh 1.5vw;
}
.menu-bar a {
  text-decoration: none;
  font: var(--font-title-medium);
  color: var(--text);
  padding: 0 2vw;
}
.menu-bar a:hover {
  opacity: 70%;
}
.selected-text{
  color: var(--hover) !important;
  
}

.stickyFooterAdjuster {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  border-top: 1px solid var(--text);
  margin: 2vh 20vw 2vh 20vw;
  letter-spacing: 1px;
  color: var(--text);
}

.border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: max(2%, 2vw);
}

.get-booking {
  display: flex;
  justify-content: center;
}
.get-booking input {
  font: var(--font-bread);
  padding: 10px;
  border: 1px solid black;
}

hr {
  position: relative;
}

/*=============TicketBooking page=================*/
/*Upcoming showings*/
.upcoming-showings-container li {
  list-style-type: none;
  text-align: left;
  font: var(--font-bread);
  line-height: 2em;
  margin-right: 2vw;
  max-width: 20vw;
}
.upcoming-showings-container {
  order: 1;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background: var(--upcoming-showings-container-color);
  color: var(--text);
  max-width: 20vw;
  padding: 2vw;
  padding-right: 0;
}
.upcoming-showings-container h2 {
  border-bottom: 1px solid var(--text);
  text-align: left;
  font: var(--font-title-medium);
  max-width: fit-content;
}
/*Booking page is divided into 4 rows startif from .booking-row0. the 2nd row
has 3 columns starting from .booking-row1-col0.*/
.booking-row0 {
  display: flex;
  justify-content: center;
}
.booking-row1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  min-width: fit-content;
}
.booking-row1-col0 {
  width: fit-content;
  flex-grow: 3;
}
.booking-row1-col1 {
  flex-grow: 4;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
}
.booking-row1-col2 {
  display: flex;
  flex-direction: row;
  justify-self: stretch;
  min-width: max-content;
}
/*info button*/
.booking-row1-col2 > button {
  height: min-content;
  width: min-content;
}
.booking-row3 {
  text-align: center;
}
.info-input form {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info-input input {
  grid-column: 2;
  width: max-content;
  margin-left: 1vw;
}
.info-input label {
  grid-column: 1;
  justify-self: right;
  padding: 1%;
}
.booking-row2 {
  display: flex;
  justify-content: flex-end;
}
.info-input {
  padding: 1%;
  margin: 3%;
  margin-bottom: 1%;
  background: var(--info-input-color);
  font: var(--font-title-small);
  color: var(--text);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  max-width: 90vw;
  border: 1px solid white;
}

.info-input > .seat-counter {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  word-wrap: break-word;
  text-align: left;
  margin-left: 3%;
}
.seat-counter p {
  line-height: 0em;
  max-width: 10em;
  font: var(--font-bread);
}
.general-button:hover {
  background-color: var(--hover);
  border: 0px;
}
.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.ticketbooking-container {
  align-self: left;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  /*min-width: fit-content;*/
  min-width: 80vw;
}
/*Showing selection dropdowns*/
.showings-picker-dropdown {
  text-align: center;
}
select {
  border-radius: 4px;
  color: var(--text);
  background: var(--darker-shade);
  border: none;
  font: var(--font-title-small);
  margin-bottom: 2%;
  border: 1px solid var(--text);
}
.showings-picker-dropdown {
  border-radius: 4px;
}
.movie-picker-dropdown {
}

/*Seat-picker*/
.cinema-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.cinema-button {
  height: 30px;
  min-width: 5px;
  max-width: 12px;
  background-color: var(--seat-free);
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
  margin: 3px;
  z-index: 3;
}

.info-input form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cinema {
  padding: 10px;
  padding-top: 30px;
  border-radius: 15px;
  background: var(--cinema);
  border-radius: 15px;
  width: fit-content;
  max-height: min-content;
}
.info-input label {
  grid-column: 1;
  justify-self: right;
  padding: 1%;
}

.info-input label {
  grid-column: 1;
  justify-self: right;
  padding: 1%;
}

.cinema-screen-container {
  perspective: 400px;
  margin-bottom: 0;
  margin-top: 0;
  transform: translate(0, -90px);
  justify-self: center;
  max-height: 1px;
}
.cinema-screen {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 24%,
    rgb(80, 77, 77) 100%
  );
  border-top: darkgray ridge;
  width: 100%;
  height: 100px;
  opacity: 90%;
  transform-style: preserve-3d;
  transform: rotateX(-65deg);
}
.seat-selectors {
  width: max-content;
  text-align: center;
}

@media screen and (max-width: 800px) {
  /* media queries for more-info pages*/
  .info-text {
    padding: 2vw;
  }
  .title-row {
    display: flex;
    flex-direction: column;
  }

  .title-row h2 {
    justify-content: center;
  }

  .button-title {
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 3%;
  }

  .menu-bar a{
    display: flex;
    align-self: flex-end;
    font-size: 130%;
  }
  /* media queries for booking tickets page*/

  .choose-movie {
    display: flex;
    justify-content: center;
  }

  .choose-movie .dropbtn {
    width: 50vw;
  }

  .dropdown-content {
    flex-direction: column;
    width: 50vw;
  }

  .dropdown-content a {
    display: flex;
    justify-content: center;
  }

  .showings-container {
    padding: 2vw;
  }

  .selectedShowing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 1%;
    padding-bottom: 3%;
  }

  .selectedShowing h3 {
    margin-left: 7vw;
  }

  .selectedShowing .general-button {
    justify-content: center;
    width: 50vw;
    font: var(--font-button);
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-left: 20vw;
    padding: 3% 7%;
  }

  .ticket-container,
  .general-button,
  .tack,
  .selectedShowing h3,
  .choose-movie .dropbtn {
    font: var(--font-button);
    letter-spacing: 0.5px;
    font-weight: normal;
  }

  div .container {
    padding: 2vw;
    max-width: 95vw;
    justify-content: center;
  }

  .book-tickets {
    flex-direction: column;
    justify-content: center;
  }

  .tack {
    justify-content: center;
  }

  .showcase {
    max-width: 50vw;
    margin-left: 4vw;
  }

  .menu-bar a {
    justify-content: center;
    text-align: center;
  }
}
