html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
button {
  height: 30px;
  width: 10px;
  background-color: gray;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
}
.cinema-seats{
   border: 1px solid #ccc;
  border-radius: 15px;
  border-top: 10px solid #043acf;
  min-width: 100px;
  background-color: rgb(172, 98, 46);
  padding: 10px;

  text-align: center;
}
