.maindiv {
  color: var(--text);
  word-spacing: 5px;
  font: 150% var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 7%;
  margin-left: 1%; */
}
.maindiv section {
  display: flex;
  flex-flow: column;
  max-width: 50vw;
  margin-top: 0;
}

.maindiv h1 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--text);
  padding-bottom: 2%;
  font: var(--font-title-large);
  letter-spacing: 3px;
}

li {
  margin: 3% 0;
  padding: 1%;
}

li:nth-child(odd) {
  background-color: var(--header-color);
}

.other-button {
  margin-left: 2%;
  border-radius: 10px;
}

.kommandevisning {
  border: 4px dotted rgb(226, 136, 17);
}

.kommandevisning .removeButton {
  font-size: 75%;
  padding: 2% 5%;
}

.get-booking .get-bookings {
  background-color: rgb(6, 43, 88);
  border-color: rgb(6, 43, 88);
  color: rgb(255, 255, 255);
  text-shadow: rgb(14, 13, 13) 0px 1px 0px;
  font: var(--font-button);
  letter-spacing: 0.5px;
  font-weight: normal;
}

.get-booking .get-bookings:hover {
  background-color: var(--hover);
  border: 0px;
}

@media screen and (max-width: 800px) {
  .currentMovieTitleH1 {
    margin-top: 5vw;
    font-size: 12vw;
  }

  .get-booking {
    padding: 0 10%;
  }

  .col2 .col3 h1 {
    font-size: 7vw;
  }

  .maindiv {
    justify-content: left;
  }
  .maindiv section {
    max-width: 80vw;
    margin-left: 2%;
  }

  ul {
    padding-left: 10%;
  }
}
